
@{
    ViewData["Title"] = "Profile";
}

<a href="/User/AddNewUser" class="btn btn-success">New User</a>
<a href="/User/ViewALLUser" class="btn btn-info">New User</a>
<a href="/User/AddNewStd" class="btn btn-primary">New User</a>
<a href="/User/ViewALLStd" class="btn btn-info">Primary</a>

